
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: 001219;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#main-header{
    width: 80%;
    background-color: #14213da2;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 40px clamp(30px, 4vw, 44px);
    box-sizing: content-box;
    align-self: center;
}

#main-header p{
    font-size: clamp(24px, 7vw, 32px);
    color: e5e5e5;
    line-height: 1.7;
}

#line{
    width: 30px;
    height: 100%;
    animation-name: anime;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes anime {
  0%   {border-right: 1px solid white;}
  100% {border-right: 1px solid transparent;}
}

@media screen and (min-device-width: 980px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #main-header{
    width: 55%;
    margin-top: 10%;
    align-items: center;
  }
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}


#red{
    color: rgba(255, 0, 0, 0.623);
    font-size: 80px;
    margin-left: 200px;
}

#blue{
    color: rgba(0, 0, 255, 0.678);
    font-size: 80px;
    margin-left: 55px;
}

button{
    margin-left: -60px;
    width: 200px;
    height: 30px;   
    border: 0;
    background-color: teal;
    border-radius: 2px;
}