@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
  }

body{
  background-color: rgb(65 181 236);
}

input:focus, button:focus, textarea:focus{
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF3D64; 
    border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FF3D64; 
    border-radius: 100px;
  }